# Git
.git
.gitignore

# Node.js
node_modules
npm-debug.log
yarn-debug.log
yarn-error.log

# Build output
dist
build

# Docker
Dockerfile
docker-compose.yml
.dockerignore

# Environment variables
.env
.env.*
!.env.example

# IDE files
.idea
.vscode
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# Test files
coverage
.nyc_output
test
**/*.spec.ts

# Logs
logs
*.log

# Misc
README.md
LICENSE
.editorconfig